.container-board-my-task {
    padding: 12px 14px 0 14px;
    height: 697px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.board-my-task-item-wg {
    padding: 12px 14px 0 14px;
    width: 290px;
    min-width: 290px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    outline: none;
    border: 0.5px solid transparent;
    transition: border 0.3s ease;
}

.board-my-task-item-wg-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 3px 10px;
    margin-bottom: 8px;
}

.board-my-task-title-name {
    color: #F0F6FC;
    font-size: 18px;
    font-weight: bold;
}

.board-my-task-title-count {
    color: #A2A0A2;
    font-size: 16px;
    margin-left: 15px;
}

.board-my-task-item-wg-content {
    border-radius: 5px;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.board-my-task-item-wg-content::-webkit-scrollbar {
    display: none;
}

.board-my-task-item-wg-content.empty {
    background-color: #151b23;
    padding: 10px 12px; 
}

.board-my-task-item-wg-content.list {
    padding: 0;
}

.board-my-task-item-task {
    padding: 15px 20px;
    border: 0.5px solid #6c6f72;
    border-radius: 10px;
    background-color: #151b23;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    white-space: normal;
}

.board-my-task-item-task:hover {
    border: 0.5px solid #F0F6FC;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    transition: box-shadow 0.2s ease;
}

.board-my-task-item-task.selected {
    background-color: #00293c;
    border: 0.5px solid #007BFF;
}

.board-my-task-item-task-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    margin-bottom: 3px;
}

.board-my-task-item-task-title .board-my-task-task-status {
    font-size: 18px;
}

.board-my-task-item-task-title .status-in-progress {
    color: #F0A500;
}

.board-my-task-item-task-title .status-not-started {
    color: #A2A0A2;
}

.board-my-task-item-task-title .status-completed {
    color: #008000;
}

.board-my-task-item-task-title .board-my-task-task-name {
    font-size: 16px;
    font-weight: bold;
    color: #F0F6FC;
}

.board-my-task-item-task-level {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    margin-bottom: 10px;
}

.board-my-task-item-task-level i {
    font-size: 14px;
}

.board-my-task-item-task-level .fa-fire {
    color: #FF5722;
}

.board-my-task-item-task-level .fa-bolt {
    color: #F0A500;
}

.board-my-task-item-task-level .fa-leaf {
    color: #008000;
}

.board-my-task-item-task-level span {
    font-size: 12px;
}

.board-my-task-item-task-level .priority-hight {
    color: #FF5722;
}

.board-my-task-item-task-level .priority-medium {
    color: #F0A500;
}

.board-my-task-item-task-level .priority-low {
    color: #008000;
}

.board-my-task-item-task-footer {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    justify-content: space-between;
    margin-top: 8px;
}

.board-my-task-item-task-footer .board-my-task-item-task-deadline {
    display: flex;
    align-items: center;
    gap: 12px;
}

.board-my-task-item-task-deadline span {
    font-size: 12px;
}

.board-my-task-item-task-count {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    background: none;
    border: 0.5px solid transparent;
    padding: 4px 3px;
}

.board-my-task-item-task-count.selected {
    background-color: #252c30;
}

.board-my-task-item-task-count.selected span {
    color: #FFFFFF;
}

.board-my-task-item-task-count.selected i {
    color: #FFFFFF;
}

.board-my-task-item-task-count:hover {
    background-color: #252c30;
}

.board-my-task-item-task-count:hover span {
    color: #FFFFFF;
}

.board-my-task-item-task-count:hover i {
    color: #FFFFFF;
}

.board-my-task-item-task-count span {
    font-size: 12px;
    color: #A2A0A2;
    margin-right: 5px;
}

.board-my-task-item-task-count i {
    font-size: 14px;
    color: #A2A0A2;
}

.board-my-task-item-task-count .dropdown-icon {
    margin-left: 0px;
    width: 20px;
}

.board-my-task-subtask {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.board-my-task-item-subtask {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 0px;
    border-bottom: 0.1px solid #6c6f72;
    border-top: 0.1px solid transparent;
}

.board-my-task-item-subtask:hover {
    border-top: 0.1px solid #6c6f72;
    border-bottom: 0.1px solid #6c6f72;
    background-color: #252c30;
    width: 100%;
    left: -20px;
    padding: 3px 20px;
    right: -20px;
}

.board-my-task-item-subtask:has(+ .board-my-task-item-subtask:hover) {
    border-bottom: 0.1px solid transparent;
}

.board-my-task-item-subtask.selected {
    background-color: #00293c;
    border-bottom: 0.1px solid transparent;
    width: 100%;
    left: -20px;
    padding: 3px 20px;
    right: -20px;
}

.board-my-task-item-subtask:has(+ .board-my-task-item-subtask.selected) {
    border-bottom: 0.1px solid transparent;
}

.board-my-task-item-subtask.selected:hover {
    border-bottom: 0.1px solid #6c6f72;
}

.board-my-task-item-subtask:hover .board-my-task-item-subtask-title {
    width: 55%;
}

.board-my-task-item-subtask-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    white-space: nowrap;
    overflow: hidden;
    width: 40%;
}

.board-my-task-item-subtask-title .board-my-task-task-status {
    font-size: 18px;
}

.board-my-task-item-subtask-title .status-in-progress {
    color: #F0A500;
}

.board-my-task-item-subtask-title .status-not-started {
    color: #A2A0A2;
}

.board-my-task-item-subtask-title .status-completed {
    color: #008000;
}

.board-my-task-item-subtask-title .board-my-task-task-name {
    font-size: 16px;
    font-weight: bold;
    color: #F0F6FC;
}

.board-my-task-item-subtask-deadline {
    display: flex;
    gap: 7px;
    align-items: center;
}

.board-my-task-item-subtask-deadline span {
    font-size: 12px;
}
