.rct-header-root {
    background-color: #0d1117 !important;
    color: #F6F0FC;
    border: 0.3px solid #6c6f72 !important;
    font-size: 14px;
    font-weight: 500;
}

.rct-calendar-header {
    border-right: 0.3px solid transparent !important;
    border-left: 0.3px solid #6c6f72 !important;
    border-top: 0.3px solid transparent !important;
    border-bottom: 0.3px solid transparent !important;
}

.rct-dateHeader {
    background-color: #0d1117 !important;
    border-right: 0.3px solid transparent !important;
    border-left: 0.3px solid #6c6f72 !important;
    border-top: 0.3px solid transparent !important;
    border-bottom: 0.3px solid transparent !important;
    color: #F6F0FC;
}

.rct-dateHeader-primary {
    background-color: #0d1117 !important;
    border-right: 0.3px solid transparent !important;
    border-bottom: 0.3px solid #6c6f72 !important;
    border-top: 0.3px solid transparent !important;
    border-left: 0.3px solid transparent !important;
    color: #F6F0FC;
}

.rct-sidebar {
    color: #F6F0FC;
    font-weight: bold;
    font-size: 14px;
    border-right: none !important;
    text-align: center;
}

.rct-sidebar-row {
    border-bottom: 0.3px solid #6c6f72 !important;
}

.rct-vertical-lines .rct-vl {
    border-left: 0.3px solid #6c6f72 !important;
    background: #151b23 !important;
}

.rct-vertical-lines .rct-vl.rct-vl-first {
    border-left-width: 0.1px !important;
}

.rct-vertical-lines .rct-vl.rct-day-6,
.rct-vertical-lines .rct-vl.rct-day-0 {
    background: #252c30 !important; 
}

.rct-horizontal-lines .rct-hl-even,
.rct-horizontal-lines .rct-hl-odd {
    position: relative;
    border-bottom: 0.3px solid #6c6f72 !important;
}

.rct-horizontal-lines .rct-hl-odd{
    background: transparent !important;
}

.rct-horizontal-lines .rct-hl-even{
    background: transparent !important;
}

.rct-items{
    display: flex !important;
    flex-direction: column !important;
    position: absolute !important;
    top : 0 !important;
}

.rct-item{
    height: 40px!important;
    margin-top: 5px !important;
    border-radius: 5px !important;
    color: #F6F0FC !important;
    background-color: #0d1117 !important;
    border: 0.3px solid #6c6f72 !important;
    font-weight: bold;
    position: sticky !important;
}