.modal-confirm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(68, 68, 68, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.container-modal-confirm {
    margin-top: 350px;
    background: #0d1117;
    border-radius: 8px;
    padding: 20px 32px;
    width: 500px;
    height: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    animation: fadeIn 0.3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container-modal-confirm span{
    color: #F6F0FC;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.modal-confirm-action {
    display: flex;
    gap: 30px; 
}

.modal-confirm-action button {
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-confirm {
    background-color: #4caf50; 
    color: white;
}

.btn-confirm:hover {
    background-color: #43a047;
    transform: scale(1.05);
}

.btn-cancel {
    background-color: #f44336;
    color: white;
}

.btn-cancel:hover {
    background-color: #e53935;
    transform: scale(1.05);
}