.option-container {
    display: flex;
    flex-direction: column;
    width: 160px; 
    border: 0.5px solid #6c6f72; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #0d1117;
    padding: 7px 0px;
    max-height: 300px;
    overflow-y: auto; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 100%; 
    left: 0;
    z-index: 1000;
}

.option-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    gap: 3px;
}

.option-item:hover {
    background-color: #1e2630; 
}

.option-selected{
    width: 20px;
}

.option-selected i {
    color: #A2A0A2;
    font-size: 12px;
}

.option-item-name {
    flex-grow: 1;
    font-weight: 500;
    font-size: 14px;
    color: #F6F0FC;
}

